.homeBanner {
    background-image: url("../../../public/Images/1.jpg");
    min-height: 450px;
    margin-top: 40px;
    border-radius: 15px;
    background: linear-gradient(90deg, rgba(179, 234, 187, 0.942) 0%, rgba(177, 219, 216, 0.844) 31%, rgba(0,212,255,0.3536765047816002) 100%), url("../../../public/Images/2.jpg");
    background-position: center center;
    text-align: left;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.homeBanner .ctaButton{
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 600;
    margin-top: 20px;
    transition: all .3s ease;
}
.homeBanner .ctaButton:hover{
    background-color: rgba(0,212,255,0.3536765047816002)
}

.homeBanner h1{
    font-size: 50px;
    font-weight: 600;
}