.signUpComponent{
    background-color: #ebecef;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-direction: column;
}

.registerCard{
    background-color: #fff;
    border-radius: 10px;
    padding: 30px 20px;
    min-width: 380px;
}

.registerCard form {
    display: flex;
    flex-direction: column;
}
.registerCard h1{
    margin-bottom: 20px;
}
.registerCard input{
    border: 2px solid #ebecef;
    min-height: 28px;
    margin-bottom: 12px;
    padding: 5px 15px;
    transition: all 1s ease;
}

.registerCard input:focus{
    border-radius: 10px;
    border: 2px solid #12adc1;
    outline: none;
}

.registerCard button{
    width: 180px;
    margin: auto;
    margin-top: 20px;
}

.redirectLink{
    transition: all .3s ease;
    color: #12adc1;
    margin-top: 20px;
}
.redirectLink:hover{
    color: #045d69;
}